
<div class="col-md-8 blog-main">
  <div class="blog-post">
    <h2><%= @blog.title %></h2>
          
          <%= link_to fa_icon('arrow-circle-left fa-lg'), blogs_path, class: "fa-lg" %>
      <span class="pull-right fa-lg">
        <%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog) if logged_in?(:site_admin) %>
        <%= link_to fa_icon('trash'), @blog, method: :delete, data: {confirm:"Are you sure you want to delete this post"} if logged_in?(:site_admin) %>
      </span>
    <p>
      <%= markdown @blog.body %>
    </p>

    <%= render 'comments/comments_form' %>
	
	<div id="comments" data-blog-id="<%= @blog.id %>" >
    	<%= render @blog.comments %> 
    </div> 
  </div> 
</div>