<div class="col-md-4">
    <div class="card mb-4 box-shadow" data-id="<%=portfolio_item.id %>" >
    <%= image_tag portfolio_img(portfolio_item.thumb_image.url, 'thumb'), width: '100%' %>
        <div class="card-body">
            <p class="card-text">
            <span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item.id) %></span> <%= portfolio_item.subtitle %>
            <div class="d-flex justify-content-between align-items-center">
                <%  if logged_in?(:site_admin) %>
                <div class="btn-group">
                    <%= link_to  "Delete",portfolio_path(portfolio_item.id), class: " btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %> 
                    
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>