<div class="home-card">
    <div class="row">
		<div class="col-md-3">
			<%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %> 

			<div class="skills">
				<% @skills.each do |skill| %>
					<h4><%= skill.title %></h4>
					<div class="progress">
						<div 
							class="progress-bar progress-bar-striped bg-info"
							role="progessbar"
							aria-valuenow="<%= skill.percent_utilized %>"
							aria-volume="100"
							style="width: <%= skill.percent_utilized %>%"
						><%= skill.percent_utilized %>%</div>
					</div>
				<% end %>
			</div>
		</div>

		<div class="col-md-9">
		    <h1>ABOUT ME</h1>
		    <p>Multi-Tasker, efficient, and Reliable Support professional with 4+ years of experience providing analytical
		    Technical support to resolve complex issues and improve operations for SaaS Companies.</p>
		    <p>Ruby on Rails developer who is enthusiastic about writing clean, efficient, and accessible code in a functional
		    framework. Committed to the total development lifecycle, the maintenance of code quality and bug-free
		    applications is of the utmost importance. A leader in identifying opportunities for applications development.</p>

		    <p>
				<button class="btn btn-primary"
					type="button"
					data-toggle="collapse"
					data-target="#jobHistory"
					aria-expanded="false"
					aria-controller="jobHistory">
					Job History
				</button>
		    

		    
				<button class="btn btn-primary"
					type="button"
					data-toggle="collapse"
					data-target="#education"
					aria-expanded="false"
					aria-controller="education">
					Education
				</button>
		    </p>

		    <p>
				<div class="collapse" id="jobHistory">
					<div class="card-home">
						Job 1
					</div>

					<div class="card-home">
						Job 2
					</div>
				</div>
			</p>

			<p>
				<div class="collapse" id="education">
					<div class="card-home">
						School 1
					</div>

					<div class="card-home">
						School 2
					</div>

					<div class="card-home">
						School 2
					</div>
				</div>
			</p>
		</div>
	</div>
</div>